.playlist-card-container {
  width: 18rem;
  padding: 4px;
  border: 1px solid var(--color-silver);
}

.playlist-card-image-container {
  height: 13rem;
}

.playlist-delete-icon {
  font-size: 2rem;
  position: absolute;
  top: 8px;
  right: 12px;
}
