.video-card-container {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  box-shadow: 0 0 3px var(--color-silver);
  background-color: var(--color-white);
  position: relative;
}

.video-card-image-container {
  width: 17.5rem;
  height: 11rem;
}

.btn {
  border-radius: 0;
  width: 100%;
}

.video-card-flex-adjustment {
  justify-content: space-between;
  align-items: center;
}

.video-card-icon {
  font-size: 1.5rem;
}

.dropdown {
  position: absolute;
  bottom: 4rem;
  right: 1.5rem;
  z-index: var(--z-index-dropdown-25);
}

.dropdown-ul {
  background-color: var(--color-gray);
  color: black;
  border-radius: 5px;
  padding: 4px 0;
  margin: 0;
}

.dropdown-li {
  padding: 4px 8px;
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.dropdown-li:hover {
  background-color: var(--color-green-400);
}

.img-modal-bg {
  position: absolute;
  opacity: 0.5;
  background-color: var(--color-gray);
}

.img-modal-container {
  display: none;
}

.video-card-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -35%);
  z-index: var(--z-index-video-card-modal);
}

.video-card-image-container:hover .img-modal-container {
  display: block;
  cursor: pointer;
}

.play-icon {
  font-size: 3rem;
  color: var(--color-red-700);
}

@media screen and (max-width: 570px) {
  .video-card-container {
    width: 90%;
    margin: auto;
  }
  .video-card-image-container {
    width: 100%;
  }
}
