.playlist-page-main {
  margin: 1rem;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 2rem;
}

.playlist-page-main .flex {
  justify-content: space-between;
}

.playlist-btn {
  padding: 0 1em;
  width: fit-content;
  border-radius: 5px;
}
