:root {
  --z-index-header: 10;
  --z-index-aside-bar: 24;
  --z-index-dropdown-25: 25;
  --z-index-modal-26: 26;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-direction {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.gap-1rem {
  gap: 1rem;
}

.cursor {
  cursor: pointer;
}

.border-radius {
  border-radius: 10px;
}

.m-b-4px {
  margin-bottom: 4px;
}

.m-bt-4px {
  margin: 4px 0;
}

.link {
  text-decoration: none;
}

.color-black {
  color: var(--color-black);
}

.color-green {
  color: var(--color-green-600);
}

.color-red {
  color: var(--color-red);
}

.page-wrapper {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

@media screen and (max-width: 486px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
